<h1>Assignments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Class</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.description %></td>
        <td><%= assignment.subject.name%><%#= link_to assignment.subject.name, subject_path(assignment.subject.id) %></td>
        <td></td>
        <td><%= link_to 'View', assignment %>|
        <%#= link_to 'Edit', edit_subject_assignment_path(assignment) %>|
        <%= link_to 'Delete', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- needs to go to subject page first -->
<%#= link_to 'New Assignment', new_assignment_path %>
