<%= form_for([@schedule, @schedule.subjects.build]) do |f| %>
  <p>test
 <div class="field">
 	<%= f.label :user_id %>
    <%= f.text_area :user_id %>
</div>
  <div class="actions">
    <%= f.submit %>
</div>
<% end %>