<div class="jumbotron center">
    <%= image_tag("ccen.jpg", :alt => "academia edificadores de naciones") %><p>

     Welcome to Nation Builders student portal. Sign up to keep track of your childs assignments and progress.

     <% if user_signed_in? %>
          
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
       </p>
  <% end %>  
</div>