<div class="jumbotron center">
     <h1>Student Portal</h1>

     A short description about the portal. I guess something like Signup to keep track of your students assignments and scores?

     <% if user_signed_in? %>
          
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>